.form__fieldset {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;


}

.form__fieldset_inline {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
    color: grey;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none
}